html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
h1 {
coko
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  font-size: 60px;
}
h2 {
  text-align: center;
}
#app-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
#current-pattern {
  -webkit-box-shadow: #000 0px 0px 10px 3px;
  box-shadow: #000 0px 0px 10px 3px;
  border: 10px solid #fff;
  margin: 20px auto;
  display: block;
}
#image-area {
  display: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.pattern-label {
  background: #fff;
  display: inline-block;
  padding: 8px 10px;
  border: 3px solid #000;
  font-size: 18px;
}
small {
  font-size: 12px;
  color: #b5b5b5;
}
.instructions {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body.processed #image-area {
  display: block;
}
body.processed .instructions {
  display: none;
}
