@import "nib";
@import "jeet";

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
}

#app-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
}

#current-pattern {
  box-shadow: #000 0px 0px 10px 3px;
  border: 10px solid white;
  margin: 20px auto;
}
