@import "nib";
@import "jeet";

html, body {
  height: 100vh;
  overflow: hidden;
}

#app-container {
  display: flex;
  align-items: flex-start;
}

#view-area {
  border: 1px solid black;
  flex: 1;
  height: 300px;
}

#current-pattern {
  margin-left: 20px
}
