@import "nib";
@import "jeet";

html, body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  margin: 0;
  flex-direction: column;
}

h1 {
  color: #rgba(0, 0, 0, 0.8);
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  //text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  font-size: 60px;
}

h2 {
  text-align: center;
}

#app-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
}

#current-pattern {
  box-shadow: #000 0px 0px 10px 3px;
  border: 10px solid white;
  margin: 20px auto;
  display: block;
}

#image-area {
  display: none;
  flex: 1;
  text-align: center;
}

.pattern-label {
  background: white;
  display: inline-block;
  padding: 8px 10px;
  border: 3px solid black;
  font-size: 18px;
}

small {
  font-size: 12px;
  color: #B5B5B5;
}

.instructions {
  flex: 1;
}

body.processed {
  #image-area {
    display: block;
  }

  .instructions {
    display: none;
  }
}
